body {
  text-align: justify;
  background: linear-gradient(#5f7b42, #408fce);
}

header {
  background-color: #cbcbcb;
}

#cabecalho {
  width: 10%;
  margin-left: 10%;
}

nav {
  position: absolute;
  top: 25px;
  right: 10px;
  margin-left: 20%;
  font-size: 30px;
  font-family: monospace;

}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  font-size: 80%;
}

nav a:hover{
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #5f7b42;
  color: #cbcbcb;
  transition: 0.8s;
}

.menu {}

.home {
  margin-top: 20%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #cbcbcb;
  color: #e6e6e4;
  padding: 15px;
  display: inline;
  font-family: arial, sans-serif;
  }

.nome {
  text-align: center;
  text-decoration: wavy #408fce 2px;
  width: 80%;
  height: 20%;

}

.aluno {
  border-bottom: 15px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  color: whitesmoke ;
  margin: 2%;
}

.professoras {
  display: inline-block;
}

.nossa-foto {
  width: 10%;
  margin-left: 18px;
  border-radius: 90px;
  box-shadow: 2px 2px 2px #cbcbcb;
}

.aluno img{
  width: 300px;
  height: 300px;
 }

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  margin-right: 5px;
}

legend {
  margin: 1%;
}

p {
  font-size: 40px;
  text-align: justify;
  color:#cbcbcb;
  margin: 5px;
  padding: 5px;
}

footer {
  background-color: white;
}

#rodape {
  text-align: center;
  width: 10%;
  margin-left: 5%;
}

@-ms-viewport{
  width: device-width;
}