body {
  background-color: #408fce;
  padding: 0 0px;
}

.caixa {
  position: relative;
  width: 40px;
  margin: 0 auto;
}

header {
  background-color: #cbcbcb;
}

#cabecalho {
  width: 10%;
  margin-left: 10%;
}

nav {
  position: absolute;
  top: 30px;
  right: 10px;
  margin-left: 20%;
  font-size: 30px;
  font-family: monospace;

}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  font-size: 80%;
}

.menu {}

.home {
  margin-top: 20%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #cbcbcb;
  color: #e6e6e4;
  padding: 40px;
  display: inline;
  font-family: arial, sans-serif;
  }

.nome {
  text-align: center;
  text-decoration: wavy #408fce 2px;
  width: 100%;
  height: 20%;

}

.aluno {
  border-bottom: 15px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  color: whitesmoke ;
  margin: 0 auto;
  width: 300px;
  min-height: 300px;
  overflow: hidden;
}


      
.aluno img {
  width: 300px;
  height: 300px;
  transition: 0.5s all ease-in-out;
}
       
.geeks:hover img {
  transform: scale(1.5);
}


h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  margin-right: 5px;
}

legend {
  margin: 1%;
}

p {
  font-size: 40px;
  text-align: justify;
  color:#cbcbcb;
  margin: 5px;
  padding: 5px;
}

footer {
  background-color: white;
}

#rodape {
  text-align: center;
  width: 10%;
  margin-left: 5%;
}

